<nav class="nav">
  <%= link_to image_tag("cohemp-green.svg") %>

  <ul class="nav__list">
    <% if user_signed_in? %>
      <li class="list-item">
        <%= link_to "Home", root_path, class: "" %>
      </li>
      <li class="list-item dropdown">

        <%= cl_image_tag current_user.image.key, :width => 40, :height => 40, :gravity=>"faces", :crop=>"fill", :default_image => "cohemp-green.svg",
          class: "dropdown__image",
          id: "navbarDropdown",
          'aria-haspopup': true,
          'aria-expanded': false %>
        <div class="dropdown-container" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", profile_path, class: "" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "" %>
        </div>
      </li>
    <% else %>
      <li class="list-item">
        <%= link_to "Login", new_user_session_path, class: "" %>
      </li>
    <% end %>
  </ul>
</nav>
