<h1>Cohemps#show</h1>

<p><%= @cohemp.description %></p>
<p>Address: <%= @cohemp.address %></p>
<% if @cohemp.availability %>
 <p>Available</p>
<% else %>
 <p>Not Available</p>
<% end %>
<p>Owner: <%= @cohemp.user.email %></p>
<p>Book this Co-Hemp:</p>
<%= simple_form_for [@cohemp, @booking] do |f| %>
  <%= f.input :date %>
  <%= link_to 'Cancel this booking', booking_path %>
  <p><%= f.submit "Book Co-Hemp", class: "btn btn-primary" %></p>
<% end %>
