<main class="home">
  <div class="banner">
      <h1 class="title-1">Why Co-work when you can Co-hemp?</h1>
      <p class="text-1">Una o melhor dos dois mundos, trabalhe, relaxe e expanda sua mente no mesmo lugar!</p>
      <%= render partial: "shared/button", locals: {
                 variant: "btn-green mt-sm",
                 title: "Conhecer Co-hemps",
               } %>
    </div>
  </div>
  <div class="highlights mt-md">
    <h2 class="title-1">Destaques</h2>
    <%= render partial: "shared/card_horizontal.html.erb", locals: {
      cohemp: @cohemps.find(1)
    }%>
    <%= render partial: "shared/card_horizontal.html.erb", locals: {
      cohemp: @cohemps.find(2)
    } %>
  </div>
  <div class="cohemps mt-lg">
    <h2 class="title-1">Co-hemps</h2>
    <div class="cohemp-container">
      <% @cohemps.first(4).each do |cohemp| %>
        <%= link_to cohemp_path(cohemp) do %>
          <%= render partial: "shared/card_vertical.html.erb", locals: {
              cohemp: cohemp
            } %>
          <% end %>
      <% end %>
    </div>
    <div id="map" class="cohemp__map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>
  </div>
  <div class="about mt-md">
    <img src="" alt="" class="about__img">
    <div class="about__container">
      <h2 class="title-1">Sobre nós</h2>
      <p class="text-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere dolores cumque atque rerum consequatur eveniet est, dolor iste in odio quasi perferendis, repellendus voluptatum omnis quisquam delectus porro quia hic?</p>
      <%= render partial: "shared/button", locals: {
                 variant: "btn-green mt-sm",
                 title: "Ver reservas",
               } %>
    </div>
  </div>
</main>


