<main class="home">
  <div class="banner">
      <h1 class="title-1">Why Co-work when you can Co-hemp?</h1>
      <p class="text-1">Una o melhor dos dois mundos, trabalhe, relaxe e expanda sua mente no mesmo lugar!</p>
      <%= render partial: "shared/button", locals: {
                 variant: "btn-green mt-sm",
                 title: "Conhecer Co-hemps",
               } %>
    </div>
  </div>
  <div class="highlights mt-md">
    <h2 class="title-1">Destaques</h2>
    <%= render partial: "shared/card_horizontal.html.erb", locals: {
      cohemp: @cohemps.find(1)
    }%>
    <%= render partial: "shared/card_horizontal.html.erb", locals: {
      cohemp: @cohemps.find(2)
    } %>
  </div>
  <div class="cohemps">
    <% @cohemps.first(4).each do |cohemp| %>
        <div class="card col-4">
          <img class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://gooutside-static-cdn.akamaized.net/wp-content/uploads/sites/3/2020/03/fumar-maconha.jpg')" />
          <h5 class="card-title"> <%= cohemp.address %> </h5>
          <div class="card-body">
            <%= link_to "more infos", cohemp_path(cohemp), class: "btn btn-success" %>
          </div>
        </div>
    <% end %>
    <div id="map"
        style="width: 100%; height: 600px; background: grey;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>
  </div>
</main>


