<section class="profile">
  <div class="profile__info mt-sm">
    <h1 class="title-1 mt-sm mb-sm">Perfil</h1>

     <% if current_user.image.attached? %>
        <%= cl_image_tag current_user.image.key, :gravity=>"faces", :crop=>"fill", :default_image => "cohemp-green.svg", :class =>"profile__img" %>
    <% else %>
      <img src="https://source.unsplash.com/285x220/?building" alt="" class="profile__img">
    <% end %>


    <div class="profile__details">
      <h2 class="title-2 mt-sm">Nome</h2>
      <p class="text-1">Nome do usuário<%# @user.name %></p>
      <h2 class="title-2 mt-sm">E-mail</h2>
      <p class="text-1"><%= @user.email %></p>
    </div>
  </div>

  <div class="profile__cohemp mt-sm">
    <h2 class="title-1 mt-sm mb-sm">Seu Co-hemp</h2>
    <ul class="cohemp__list">
        <% @cohemps.each do |cohemp| %>
           <%= render partial: "shared/card_vertical.html.erb", locals: {
              cohemp: cohemp
            } %>
        <% end %>
    </ul>
  </div>

  <div class="profile__edit mt-sm">
    <h2 class="title-1">Editar seu Co-hemp</h2>
    <% if @cohemps.ids[0] != nil %>
      <%= simple_form_for(@cohemps[0]) do |f| %>
        <%= f.input :name, label: 'Nome' %>
        <%= f.input :address, label: 'Endereço do Co-hemp' %>
        <%= f.input :description, label: 'Descrição do Co-hemp' %>
        <%= f.label :is_positive do %>
          <%= f.check_box :availability%>
          <label for="availability">Disponivel?</label>
        <% end %>
        <%= f.input :photos, as: :file, input_html: { multiple: true }, label: 'Adicione fotos do Co-hemp' %>
        <%= f.submit "Editar Co-hemp", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    <% if @cohemps[0] == nil %>
      <%= link_to new_cohemp_path do %>
        <%= render partial: "shared/button", locals: {
                    variant: "btn-warning mt-sm",
                    title: "+ Adicionar Co-hemp",
                  } %>
      <% end %>
    <% end %>
  </div>

  <div class="profile__bookings mt-sm">
    <h2 class="title-1">Suas Reservas</h2>
    <ul class="list-group">
        <% @bookings.each do |booking| %>
          <% if booking.status == 'solicited' || booking.status == 'approved'%>
            <li class="list-item">
              <span class="list-item__def"><%= booking.date%></span>
              <span class="list-item__def"><%= booking.cohemp.name %></span>
              <span class="list-item__def"><%= booking.status%></span>
              <span class="list-item__def"><%= link_to 'Cancelar Reserva', booking_cancel_path(booking.id), method: :patch, class: 'danger' %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
  </div>

  <div class="profile__reservations mt-sm">
    <h2 class="title-1">Reservas no seu Co-hemp</h2>
    <ul class="list-group">
        <% @reservations.each do |reservation| %>
          <% if reservation.status == 'solicited' || reservation.status == 'approved'%>
            <li class="list-item">
            <span class="list-item__def"><%= reservation.date%></span>
            <span class="list-item__def"><%= reservation.user.username %></span>
            <span class="list-item__def"><%= reservation.status%></span>
            <span class="list-item__def"><%= link_to 'Accept this booking', booking_approve_path(reservation.id), method: :patch, class: 'success' %></span>
            </li>
          <% end %>
        <% end %>
    </ul>
  </div>
</section>
