<section class="profile">
  <div class="profile__info mt-sm">
    <h1 class="title-1 mt-sm mb-sm">Perfil</h1>
    <%# Colocar image tag aqui %>
    <%= cl_image_tag current_user.image.key, :gravity=>"faces", :crop=>"fill", :default_image => "cohemp-green.svg", :class =>"profile__img" %>
    <div class="profile__details">
      <h2 class="title-2 mt-sm">Nome</h2>
      <p class="text-1">Nome do usuário<%# @user.name %></p>
      <h2 class="title-2 mt-sm">E-mail</h2>
      <p class="text-1"><%= @user.email %></p>
    </div>
  </div>

  <div class="profile__cohemp mt-sm">
    <h2 class="title-1">Seu Co-hemp</h2>
    <ul class="cohemp__list">
        <% @cohemps.each do |cohemp| %>
           <%= render partial: "shared/card_vertical.html.erb", locals: {
              cohemp: cohemp
            } %>
          <% end %>
        <% end %>
    </ul>
  </div>

  <div class="profile__edit mt-sm">
    <h2 class="title-1">Editar seu Co-hemp</h2>
    <% if @cohemps.ids[0] != nil %>
      <%= simple_form_for(@cohemps[0]) do |f| %>
        <%= f.input :name, label: 'Nome' %>
        <%= f.input :address, label: 'Endereço do Co-hemp' %>
        <%= f.input :description, label: 'Descrição do Co-hemp' %>
        Disponível? <%= f.check_box :availability %>
        <%= f.input :photos, as: :file, input_html: { multiple: true }, label: 'Adicione fotos do Co-hemp' %>
        <%= f.submit "Editar Co-hemp", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    <% if @cohemps[0] == nil %>
      <%= link_to "Adicionar um Cohemp", new_cohemp_path do %>
        <%= render partial: "shared/button", locals: {
                    variant: "btn-warning mt-sm",
                    title: "+ Adicionar Co-hemp",
                  } %>
      <% end %>
    <% end %>
  </div>

  <div class="profile__bookings mt-sm">
    <h2 class="title-1">Suas Reservas</h2>
    <ul class="list-group">
        <% @bookings.each do |booking| %>
          <% if booking.status == 'solicited' || booking.status == 'approved'%>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= booking.date%> |
              <%= booking.cohemp.name %> |
              <%= booking.status%>
              <%= link_to 'Cancel this booking', booking_cancel_path(booking.id), method: :patch %>
            </li>
          <% end %>
        <% end %>
      </ul>
  </div>

  <div class="profile__reservations mt-sm">
    <h2 class="title-1">Reservas no seu Co-hemp</h2>
    <ul class="list-group">
        <% @reservations.each do |reservation| %>
          <% if reservation.status == 'solicited' || reservation.status == 'approved'%>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= reservation.date%> |
              <%= reservation.user.email %> |
              <%= reservation.status%>
              <%= link_to 'Accept this booking', booking_approve_path(reservation.id), method: :patch %>
            </li>
          <% end %>
        <% end %>
    </ul>
  </div>
</section>
